.cart{
    display: grid;
    padding: 3rem 4rem;
}

/* Cart article */

.cartArticle{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
    align-items: center;
    font-size: 4rem;
    border-bottom: 1px solid var(--terciary);
    padding: 3rem 4rem;
    position: relative;
}

.cartArticle p{
    padding: 0 0 1rem 0;
}

.cartArticle:last-of-type{
    border: none;
}

.name{
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 1rem

}

.quantity{
    align-items: center;
    gap:4rem
}

.price{
    margin-bottom: 1rem
}

.quantity p, .price span, .subtotal{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--primary);
}

.subtotal span {
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--black);
}

.quantitySelect, .quantitySelect option{
    border: 1px solid var(--terciary);
    border-radius: 5px;
    /* padding: .1rem; */
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.remove{
    all: unset;
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: 3.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.remove:hover{
    color: var(--secondary);
    transform: scale(1.08);
}