@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Distressed&display=swap');
:root {
  --primary:#5a9372;
  --secondary:#F4A442;;
  --terciary:#81968A;
  --grey: #F4F9F9;
  --black: #000;
  --white:#eee;
  --titlesFont:"Rubik distressed", sans-serif, impact;
  --textFont:"Oswald",sans-serif, impact
}

/* #E3C770; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: var(--textFont);
}

[class*="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
  min-height:80vh ;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin: 4rem 0;
  color: var(--primary);
  font-family: var(--titlesFont);
  text-transform: uppercase;
  padding-top: 6rem;
}
