@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
  --primary:#274B36;
  --secondary:#EF7420;
  --terciary:#81968A;
  --grey: #F4F9F9;
  --black: #000;
  --white:#eee;
  --titlesFont:"Raleway", sans-serif, impact;
  --textFont:"Roboto",sans-serif, impact
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: var(--textFont);
}

[class*="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
  min-height:80vh ;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin: 4rem 0;
  color: var(--primary);
  font-family: var(--titlesFont);
  text-transform: uppercase;
}

/* Carrousel */

[class*="carrouselItem"]{
    width: 100vw;
    transition: 1s linear;
    opacity: 0;
    transition-duration: 1s ease;
    position: absolute;
    font-size:5rem;
    display: flex;
    margin: 0 auto;
}

[class*="active"]{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  display: block;
}
