.header{
    background-color: transparent;
    z-index: 1;
    font-size: 4rem;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(39, 75, 54, .85), rgba(39, 75, 54, .99)
    ), url(../public/img/grey-gdccef0896_640.png);
    background-size: cover;
    background-position: 50%;
}

.logo{
    color: var(--white);
    font-family: var(--titlesFont);
    font-weight: 500;
    letter-spacing: .2rem;
    display: flex;
    align-items: center;
}

.leaf{
    color: var(--secondary);
    font-size: 3rem;
}

.shopName{
    font-size: 3rem;
    font-family: var(--titlesFont);
    color: var(--terciary);
    cursor: pointer;
}

.linkPages{
    display: flex;
    justify-content: space-around;
    margin-right: 1.8rem;
    align-items: center;
}

.menu{
    display: none;
}

@media(max-width: 600px) {
    .logo {
        display: none;
    }

    .linkPages {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

.linkPages a{
    padding: 1rem;
    text-decoration: none;
    color: var(--terciary);
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: .3s;
}

.linkPages a:hover{
    color: var(--secondary);
}

.cartIcon{
    display: flex;
    align-items: center;
}

.shoppingCart{
    font-weight: bolder;
    font-size: 3rem;
    color: var(--secondary);
    cursor: pointer;
}

.shoppingCart:hover{
    color: var(--white);
    transform: scale(1.08);
}

.linkPages span{
    color: var(--white);
    background-color: var(--terciary);
    opacity: .75;
    border: .01rem solid white;
    font-weight: bold;
    display: grid;
    place-items: center;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    margin-left: .2rem;
}

@media(min-width: 1286px) {
    .header{
        padding: 1rem 5rem;
    }
}


