/* Hero section */
.home{
    height:57vh;
    display: flex;
    flex-direction: row;
    max-width: 190rem;
    box-shadow: 1px 1px 3px lightgray;
    background-image: linear-gradient(to right bottom, rgba(39, 75, 54, .85), rgba(39, 75, 54, .99)
    ), url(../public/img/grey-gdccef0896_640.png);
    background-size: cover;
    margin: 0 auto;
    margin-top: 2rem;
}

@media(max-width: 868px) {
    .home{
        flex-direction: column;
    }

    .hero{
        width: 100%;
        height: 100%;

    }

    .heroImg{
        display: none;
        width: 0%;
    }
}

@media(max-width: 584px){
    .home{
        height: 100vh;
    }
    .mainText, .secondaryText{
        padding: none;
    }
}

.hero{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 2.8rem;
    width: 100%;
    height: 100%;
}

.mainText{
    font-size: 2.2rem;
    margin-top: 8rem;
    padding: 2rem;
    text-align: center;
}

.secondaryText{
    color: var(--terciary);
    font-weight: 500;
    padding: 2rem;
    text-align: center;
}

.heroBtn{
    background-color: var(--secondary);
    border: none;
    border-radius: 1rem;
    padding: 1.2rem;
    margin-top: 4rem;
    cursor: pointer;
}

.heroBtn a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white);
    text-transform: uppercase;
}

.heroBtn:hover{
    background-color:rgb(245, 98, 0);
}

.heroImg{
    background: url(../public/img/heroImg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
    filter: grayscale(.9) brightness(1) drop-shadow(16px 5px 20px var(--terciary));
}

/* Home Body */
.homeBody{
    font-size: 2.5rem;
    color: var(--primary);
    height: 100%;
    display: flex;
    padding: 8rem 6rem;
    justify-content: space-around;
    align-items: center;
    max-width: 260rem;
    margin: 0 auto;
}

.service{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
}

.service span{
    font-size:4.5rem;
    text-align: center;
width: 8rem;
height: 8rem;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
    background-color: var(--primary);
    border-radius: 50%;
    color: var(--white);
    margin-bottom: 2rem;
}