/* Hero section */
.home{
    height:57vh;
    display: flex;
    flex-direction: row;
    max-width: 190rem;
    background-size: cover;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
}

@media(max-width: 868px) {
    .home{
        flex-direction: column;
    }

    .hero{
        width: 100%;
        height: 100%

    }

    .heroImg{
        display: none;
        width: 0%;
    }

}

@media(max-width: 584px){
    .home{
        height: 60vh;
    }
    .mainText, .secondaryText{
        padding: none;
    }
}

.hero{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    font-size: 3rem;
    width: 100%;
    height: 100%;
}

.mainText{
    font-size: 2.7rem;
    margin-top: 8rem;
    padding: 2rem;
    text-align: center;
}

.secondaryText{
    color: var(--terciary);
    font-weight: 500;
    padding: 2rem;
    text-align: center;
}

.heroImg{
    background: url(../public/img/pexels-julia-kuzenkov-1974508.jpg) no-repeat center; /*Foto de Julia Kuzenkov en Pexels*/
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}

/* Home Body */
.homeBody{
    font-size: 2.5rem;
    color: var(--primary);
    height: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    max-width: 260rem;
    margin-top: 2rem;
}

.service{
    margin: 1.2rem;
}

.service a{
    display: flex;
    font-size: 1.8rem;
    color: var(--primary);
    text-decoration: none;
    flex-direction: column;
    padding: 1.2rem;
    text-align: center;
    margin: .5;
}

.serviceIcon{
    font-size:4.5rem;
    text-align: center;
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--primary);
    border-radius: 50%;
    color: var(--white);
    margin-bottom: 2rem;
}