.menu{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color:white;
    overflow-y: hidden;
    z-index: 10;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 600px) {
    .menu{
        display: none;
    }
}

.menu span{
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
}

.logo{
    color: var(--white);
    font-family: var(--titlesFont);
    font-weight: 500;
    letter-spacing: .2rem;
    display: flex;
    align-items: center;
    margin-top: 7rem;

}

.leaf{
    color: var(--secondary);
    font-size: 3rem;
}

.shopName{
    font-size: 3rem;
    font-family: var(--titlesFont);
    color: var(--primary);
    cursor: pointer;
}

.links{
    display: flex;
    flex-direction: column;
}

.links a{
    text-decoration: none;
    color: var(--primary);

}