.shop{
    display: grid;
    gap: 6rem;
    min-height: 100%;
    margin-bottom: 2rem;
}

@media(min-width:768px){
    .shop{
     grid-template-columns:repeat(2, 1fr);
    }
 }

 @media(min-width:992px){
     .shop{
      grid-template-columns:repeat(3, 1fr);
     }
  }

  .attribution{
    text-align: center;
    font-size: 1.8rem;
    margin: 4rem 0 2rem 0;
  }

  .modal{
    border: 2px solid var(--grey);
    box-shadow: 0 1rem 2rem var(--grey);
    height: 20rem;
    width: 50rem;
    place-items: center;
    position: fixed;
    z-index: 10;
    background-color: var(--white);
    opacity: 0.90;
}

.modal p{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 4rem;
    font-weight: 500;
}

.check{
    color: var(--primary);
    font-size: 4rem;
    display: grid;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: .7rem;
    padding: .2rem;
    border: 1px solid var(--terciary);
    animation: fadeInAnimation ease 1.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

