.shopArticle{
        border: 2px solid var(--grey);
        box-shadow: 0 1rem 2rem var(--grey);
        padding: 2rem;
}

.articleImage{
   text-align: center;
   margin: 1rem;
}

.shopArticle h2{
    font-size:2.4rem;
    text-align: center;
    margin: 1rem;
}

.description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
   font-size: 1.4rem;
   margin: 1rem;
   text-align: center;
   color: var(--terciary);
}

.price{
    margin: 1rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bolder;
    color: var(--negro);
}

.viewProductContainer{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.shopArticle a{
    text-decoration: none;
    margin-top: 1rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition-property: background-color;
    transition-duration: .3s;
    letter-spacing: .2rem;
    box-shadow: .1rem 0.2rem .8rem var(--grey);
}

.shopArticle a:hover{
    background-color: var(--primary);
    color: var(--white);
}

/* plant detail */
.detailContainer{
    display: grid;
    place-items: center;
   grid-template-columns:repeat(2, 1fr);
   margin: 4rem;
   padding: 4rem;
   min-height: 80vh;
}

.detailName{
    font-size: 2.4rem;
    text-align: center;
    margin: 2rem;
}

.detailDescription{
    font-size: 1.6rem;
    color: var(--terciary);
}

.detailPrice{
    font-size: 2.2rem;
    text-align: center;
    margin: 2rem;
    color: var(--negro);
    font-weight: bold;
}

.form{
    display: flex;
    flex-direction: column;
}

.form label{
    font-size: 2rem;
    text-align: center;
}

.form select{
    border: 1px solid var(--primary);
    padding: .2rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.form option {
    font-size: 2rem;
}

.form input[type="submit"]{
    margin-top: 2rem;
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--primary);
    color: var(--white);
    padding: .6rem .4rem;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    transition: all .3s linear;
}

.form input[type="submit"]:hover{
    background-color: var(--black);
    cursor: pointer;
}